.comoCriamos {
    margin-top: 100px;
}

.linhaConteudo {
    display: flex;
    margin: 0 180px;
}

.colunaConteudo {
    width: 70%;
}

.etapa {
    background-color: var(--black);
    padding: 35px;
    box-shadow: -10px -12px 30px 5px var(--black);
    margin: 45px;
    width: 100%;
}

.etapa a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 900;
    color: var(--white);
}

.etapa a:hover {
    color: var(--orange);
}

.boxEtapa {
    margin-top: 25px;
    padding: 30px;
    background-color: #efefef;
    color: #827B6C;
}

.boxEtapa p {
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.imgDestaque {
    width: 40%;
    box-shadow: 57px 0px 36px 18px rgb(0 0 0 / 50%);
    margin: 0px 40px 0px 40px;
    border-radius: 0px 45px 45px 0px;
    text-align: center;
    padding: 75px;
}

.imgDestaque img {
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    vertical-align: middle;
}

.breveFrase2 {
    text-align: center;
}

.breveFrase2 p {
    color: var(--black);
    font-size: 16px;
    font-weight: 800;
}

.breveFrase2 {
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.botao1 button {
    margin-top: 30px;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 0.9px;
    text-shadow: 0px 0px 10px var(--black);
    border: var(--white);
    color: var(--white);
    background-color: var(--red);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 0px var(--white);
    padding: 12px 27px;
    cursor: pointer;
}

@media (max-width: 1298px) {
    .linhaConteudo {
        margin: 0 80px;
    }
}

@media (max-width: 1070px) {
    .imgDestaque img {
        width: 120%;
    }
}

@media (max-width: 935px) {
    .linhaConteudo {
        margin: 0 30px;
    }
}

@media (max-width: 760px) {
    .imgDestaque {
        display: none;
    }

    .colunaConteudo {
        margin: 0 60px;
    }
}

@media (max-width: 575px) {
    .colunaConteudo {
        margin: 0 -10px;
        width: 85%;
    }

    .boxEtapa {
        padding: 10px;
    }
}