section.apresentacaoPessoal {
    position: relative;
    background-color: #0000008f;
    background-image: url('/backgroundHomeSiteWeb.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 80px;
}

.apresentacao{
    margin-bottom: 45px;
}

.apresentacaoPessoal svg {
    fill: rgba(0, 0, 0, 0.233);
    width: 100%;
    height: 262px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.imagemGabriel {
    text-align: center;
    margin-bottom: -30px;
}

.textoApresentacaoTitulo {
    background-color: transparent;
    border: transparent;
}

.textoApresentacaoTitulo h1 {
    text-align: center;
    background-color: #FEAA00;
    border-radius: 200px 200px 200px 200px;
    box-shadow: 0px 0px 14px 4px var(--black);
    color: var(--black);
    font-size: 30px;
    line-height: 22px;
    font-weight: 900;
    padding: 17px;
    margin-inline: 600px;
}

.textoApresentacao {
    text-align: center;
    background-color: transparent;
    border: transparent;
}

.textoApresentacao p {
    background-color: #FEAA00;
    border-radius: 35px 35px 35px 35px;
    box-shadow: 0px 0px 10px 7px rgb(0 0 0 / 50%);
    color: var(--black);
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    padding: 18px;
    margin-inline: 350px;
}

@media (max-width: 1372px) {
    .textoApresentacaoTitulo h1 {
        margin-inline: 400px;
    }
    .textoApresentacao p {
        margin-inline: 200px;
    }
}

@media (max-width: 985px) {
    .textoApresentacaoTitulo h1 {
        margin-inline: 300px;
    }
    .textoApresentacao p {
        margin-inline: 100px;
    }
}

@media (max-width: 760px) {
    .textoApresentacaoTitulo h1 {
        margin-inline: 200px;
    }
    .textoApresentacao p {
        margin-inline: 50px;
    }
}

@media (max-width: 566px) {
    .textoApresentacaoTitulo h1 {
        margin-inline: 70px;
    }
    .textoApresentacao p {
        margin-inline: 40px;
    }
}

@media (max-width: 600px){
    .imagemGabriel img{
        width: 380px;
        height: 320px;
    }
}

@media (max-width: 450px) {
    .textoApresentacaoTitulo h1 {
        margin-inline: 50px;
    }
    .textoApresentacao p {
        margin-inline: 20px;
    }
}

@media (max-width: 343px) {
    .textoApresentacaoTitulo h1 {
        margin-inline: 12px;
    }
    .textoApresentacao p {
        margin-inline: -10px;
    }
}