.modal h1{
    color: white;
}

@media (max-width: 768px) {
    .modal {
        width: 400px;
        text-align: center;
    }

    .modal iframe {
        width: 380px;
    }
}

@media (max-width: 490px) {
    .modal {
        width: 300px;
        text-align: center;
    }

    .modal iframe {
        width: 280px;
    }
}