.footerContainer {
    border-top: 5px solid var(--orange);
    background-color: var(--black);
    margin: 0 auto;
    padding: 55px 10rem;
}

.footerContainer h2 {
    margin-bottom: 50px;
    color: var(--white);
}

.footerContainer h3 {
    margin-bottom: 3px;
    color: var(--white);
}

.footerContainer p {
    color: var(--white);
    line-height: 23px;
}

.sectionContentFooter {
    display: flex;
    justify-content: center;
}

.contentFooterMenu {
    margin: 0 88px;
}

.contentFooter {
    margin: 0 20px;
    width: 340px;
    text-align: center;
}

.blog {
    padding-bottom: 30px;
}

.contentFooter button {
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.9px;
    fill: var(--white);
    color: var(--white);
    background-color: var(--orange);
    border-style: solid;
    border-color: white;
    border-width: 1px 1px 1px 1px;
    border-radius: 30px 30px 30px 30px;
    padding: 13px 13px 13px 13px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 30px;
}

.cartao {
    transition-duration: 0.5s;
    border-style: solid;
    border-radius: 500px 500px 500px 500px;
    box-shadow: 0px 0px 10px 0px var(--white);
    vertical-align: middle;
}

.cartao:hover {
    transition-duration: 0.5s;
    border-color: var(--orange);
}

.fimDoRodape {
    text-align: center;
}

.redes {
    padding: 4px;
    border-radius: 50%;
}

.redes:hover {
    border: 2px solid var(--orange);
    border-radius: 50%;
}

.redesSociais{
    text-align: center;
}

.redesSociais h3{
    color: var(--white);
    padding: 25px;
}

.divisor {
    position: relative;
    display: flex;
    height: 1px;
    align-items: center;
    color: grey;
    background-color: rgba(255, 255, 255, 0.25);
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.contentFooter ul {
    padding-bottom: 15px;
    list-style-type: none;
}

.contentFooter li {
    color: var(--white);
    transition: color 0.7s;
    cursor: pointer;
    padding-bottom: 5px;
}

.containerContacts {
    display: flex;
    padding-bottom: 20px;
}

.containerContacts p {
    padding-left: 15px;
    cursor: pointer;
}

.containerContacts span {
    cursor: pointer;
}

.copyrightFooter {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.copyrightFooter h5 {
    color: var(--white);
}

.menuMobile {
    display: flex;
    background-color: var(--black);
    position: relative;
    flex-direction: column !important;
}

.menuMobile a {
    text-decoration: none;
    color: var(--white);
    padding: 10px;
}

.menuMobile li a:hover {
    color: var(--orange);
}

.menuMobile li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: var(--black);
    display: none;
}

.menuMobile li {
    padding: 8px;

}

.menuMobile li:hover ul,
.menuMobile li.over ul {
    display: block;
    z-index: 999;
}

.menuMobile li ul li {
    display: block;
    width: 200px;
}

@media (max-width: 1150px) {
    .sectionContentFooter {
        flex-direction: column;
        grid-gap: 40px;
    }
}

@media (max-width: 520px) {
    .footerContainer {
        padding: 55px 2rem;
    }
}