*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--gray);
  max-width: 100%;
  overflow-x: hidden;
}

:root{
  --black: #000000;
  --orange: #ff6700;
  --white: #ffffff;
  --red: #dd0808;
  --gray: #EFEFEF;
}

body, input, textarea, select, button{
  font: 400 1rem sans-serif;
}

.clear {
  clear: both;
}