/*----------------SECAO PRINCIPAL DO TOPO-------------------*/

#myVideo {
  width: 100%;
  z-index: -999;
  margin-top: 5%;
  box-shadow: 0px 0px 63px 6px rgb(0 0 0 / 98%);
}

.conteudo-central {
  z-index: 888;
  position: relative;
  margin-top: -27%;
}

.headline {
  background-color: transparent !important;
  border: transparent !important;
  text-align: center;
  border-radius: 27px 0px 0px 0px;
  box-shadow: -28px -29px 23px -36px rgb(0 0 0 / 50%);
}

.headline h1 {
  color: white;
  text-shadow: -2px 0px 3px #000000;
  font-size: 250%;
  font-weight: bold;
}

.texto-headline {
  background-color: transparent !important;
  border: transparent !important;
  border-radius: 0px 0px 27px 0px;
  box-shadow: 28px 29px 23px -36px rgb(0 0 0 / 50%);
}

.texto-headline p {
  color: white;
  font-size: 95%;
  padding-top: 8%;
}

section.secao-principal-mobile {
  display: none;
}

@media (max-width: 1000px) {
  .headline h1 {
      font-size: 200%;
  }
  .texto-headline p {
      color: white;
      font-size: 85%;
  }
}

@media (max-width: 800px) {
  section.secao-principal-desktop {
      display: none;
  }
  section.secao-principal-mobile {
      display: block;
  }
  #myVideomobile {
      width: 100%;
      z-index: -999;
      box-shadow: 0px 0px 63px 6px rgb(0 0 0 / 98%);
  }
  .conteudo-central-mobile {
      z-index: 888;
      margin-top: -70%;
      position: relative;
  }
  .headline-mobile {
      background-color: transparent !important;
      border: transparent !important;
      text-align: center;
      border-radius: 27px 0px 0px 0px;
      box-shadow: -28px -29px 23px -36px rgb(0 0 0 / 50%);
  }
  .headline-mobile h1 {
      color: white;
      text-shadow: -2px 0px 3px #000000;
      font-size: 250%;
      font-weight: bold;
  }
  .texto-headline-mobile {
      background-color: transparent !important;
      border: transparent !important;
      border-radius: 0px 0px 27px 0px;
      box-shadow: 28px 29px 23px -36px rgb(0 0 0 / 50%);
  }
  .texto-headline-mobile p {
      color: white;
      font-size: 95%;
  }
}

@media (max-width: 535px) {
  .headline-mobile h1 {
      font-size: 180%;
  }
  .texto-headline-mobile p {
      font-size: 80%;
  }
}

@media (max-width: 430px) {
  .headline-mobile h1 {
      font-size: 140%;
  }
  .texto-headline-mobile p {
      font-size: 70%;
  }
}

@media (max-width: 380px) {
  #myVideomobile {
      margin-top: 50px;
  }
}

@media (max-width: 345px) {
  .conteudo-central-mobile {
      margin-top: -78%;
  }
  .headline-mobile h1 {
      font-size: 140%;
  }
  .texto-headline-mobile p {
      font-size: 63%;
      margin-top: -10%;
  }
}

@media (max-width: 320px) {
  #myVideomobile {
      margin-top: 120px !important;
  }
  .conteudo-central-mobile {
      margin-top: -280px !important;
  }
}

@media (max-width: 280px) {
  #myVideomobile {
      margin-top: 102px !important;
  }
  .conteudo-central-mobile {
      margin-top: -250px !important;
  }
  .headline-mobile h1 {
      font-size: 105%;
  }
  .texto-headline-mobile p {
      text-align: center;
  }
}

/*------------------INCIO SECAO BLOQUINHOS SERVIÇOS-----------------*/

.blocos-servicos {
  position: relative;
  top: 40px;
  padding: 2%;
}

.servicos-blocos {
  text-align: center;
  padding: 8%;
}

.box-servico {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #000000;
  box-shadow: 0px 11px 10px 0px rgb(0 0 0 / 50%);
  transition: all 0.15s border 0.5s, border-radius 0.5s, box-shadow 0.5s;
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  transform: rotate(0deg);
  color: #FF6700;
  cursor: pointer;
}

.box-servico:hover {
  -webkit-transform: scale(1.0);
  transform: scale(1.1);
}

.box-servico i {
  color: #FF6700;
  text-decoration: none;
  font-size: 340%;
  font-weight: 900 !important;
  padding: 1%;
}

.box-servico p {
  font-size: 120%;
  font-weight: 500;
  padding: 2%;
}

@media (max-width: 1454px) {
  .blocos-servicos {
      top: 4px;
  }
}

@media (max-width: 1220px) {
  .blocos-servicos {
      top: -60px;
  }
}

@media (max-width: 990px) {
  .servicos-blocos {
      flex-direction: column;
  }
  .blocos-servicos {
      margin-top: 20px;
  }
}

@media (max-width: 415px) {
  .blocos-servicos {
      margin-top: 50px !important;
  }
}

@media (max-width: 380px) {
  .blocos-servicos {
      margin-top: 50px !important;
  }
}

@media (max-width: 320px) {
  .blocos-servicos {
      margin-top: 50px !important;
  }
}

/*-----------------DIVISOR SIMPLES----------------*/

.divisor h2 {
  text-align: center;
  font-weight: 600;
  color: #000000;
  font-size: 38px;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .divisor {
      margin-top: -50px;
  }
  .divisor h2 {
      padding: 20px;
  }
}

/*-------------ABAIXO APRESENTACAO DOS SERVICOS------------*/

/*-------------SERVIÇO 1------------*/

.linha-servico-1 {
  padding: 80px !important;
}

.box-1-imagem {
  box-shadow: -57px 0px 36px 18px rgb(0 0 0 / 50%);
  border-radius: 45px 0px 0px 45px;
  margin: 85px;
}

.imagem-1 {
  background-color: transparent !important;
  border: transparent !important;
  text-align: center;
}

.imagem-1 img {
  vertical-align: middle !important;
  padding: 20px !important;
}

.box-2-conteudo {
  border-radius: 45px 45px 45px 45px;
  box-shadow: 37px -3px 30px 2px rgb(0 0 0 / 50%);
  border-radius: 45px 45px 45px 45px;
}

.conteudo-1 {
  background-color: transparent !important;
  border: transparent !important;
  text-align: center;
  margin: 40px !important;
}

.conteudo-1 h2 {
  font-weight: bold;
  text-align: center;
  color: #000000;
  font-size: 32px;
  padding-bottom: 20px;
  margin-left: -80px;
}

.conteudo-1 p {
  margin-left: -90px;
  color: black;
}

.servico-1-mobile {
  display: none;
}

@media (max-width: 1194px) {
  .linha-servico-1 {
      margin-top: -100px;
  }
}

@media (max-width: 750px) {
  .box-1-imagem {
      margin-left: -40px;
  }
  .box-2-conteudo {
      width: 100%;
  }
}

/*----------------SERVICO 1 MOBILE--------------*/

@media (max-width: 590px) {
  div.divisor>h2 {
      font-size: 4vh;
      padding: 10px;
  }
  .servico-1 {
      display: none;
  }
  .servico-1-mobile {
      display: block;
  }
  .box-1-imagem-mobile {
      box-shadow: -57px 0px 36px 18px rgb(0 0 0 / 50%);
      border-radius: 45px 0px 0px 45px;
      text-align: center;
  }
  .imagem-1-mobile {
      background-color: transparent !important;
      border: transparent !important;
  }
  .box-2-conteudo-mobile {
      border-radius: 45px 45px 45px 45px;
      box-shadow: 37px -3px 30px 2px rgb(0 0 0 / 50%);
      border-radius: 45px 45px 45px 45px;
      margin-top: 30px;
  }
  .conteudo-1-mobile {
      background-color: transparent !important;
      border: transparent !important;
      text-align: center;
  }
  .conteudo-1-mobile h2 {
      font-weight: bold;
      text-align: center;
      color: #000000;
      font-size: 3vh;
      padding-bottom: 20px;
  }
  .conteudo-1-mobile p {
      color: black;
  }
}

@media (max-width: 390px) {
  .imagem-1-mobile img {
      width: 30vh;
  }
}

/*---------------------DIVISOR 1----------------------*/

section.divisor-1 {
  background-image: url('../images/fundo-divisor1.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ff6600a2;
  text-align: center;
}

section.divisor-1 .fim-onda-divisor-1 {
  transform: rotate(180deg);
}

section.divisor-1 .titulo-servico-1 {
  text-align: center;
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 4.3px;
  text-shadow: 0px 0px 10px #000000;
  padding: 18px;
}

section.divisor-1 .botao-1 {
  text-align: center;
}

section.divisor-1 .botao-1 button {
  letter-spacing: 0.6px;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: rgba(254, 170, 0, 0.35);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FFFFFF;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0px 0px 18px 11px rgb(0 0 0 / 50%);
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}

@media (max-width: 590px) {
  section.divisor-1 {
      margin-top: 60px;
      margin-bottom: 60px;
  }
}

/*-------------SERVIÇO 2------------*/

.linha-servico-invertida-1 {
  padding: 80px !important;
}

.box-2-imagem-invertida-1 {
  border-radius: 45px 45px 45px 45px;
  box-shadow: 37px -3px 30px 2px rgb(0 0 0 / 50%);
  border-radius: 45px 45px 45px 45px;
  margin: 85px;
}

.imagem-invertida-1 {
  background-color: transparent !important;
  border: transparent !important;
  text-align: center;
}

.imagem-invertida-1 img {
  vertical-align: middle !important;
  padding: 20px !important;
}

.box-1-conteudo-invertida-1 {
  box-shadow: -57px 0px 36px 18px rgb(0 0 0 / 50%);
  border-radius: 45px 0px 0px 45px;
}

.conteudo-invertida-1 {
  background-color: transparent !important;
  border: transparent !important;
  text-align: center;
  margin: 40px !important;
}

.box-1-conteudo-invertida-1 h2 {
  font-weight: bold;
  text-align: center;
  color: #000000;
  font-size: 32px;
  padding-bottom: 20px;
  margin-left: -40px;
  width: 140%;
}

.box-1-conteudo-invertida-1 p {
  margin-left: -30px;
  width: 140%;
  color: black;
}

.servico-invertida-1-mobile {
  display: none;
}

@media (max-width: 750px) {
  .box-2-imagem-invertida-1 {
      margin-left: -25px;
  }
  .box-1-conteudo-invertida-1 {
      width: 100%;
  }
}

/*----------------SERVICO 2 MOBILE--------------*/

@media (max-width: 590px) {
  .servico-invertida-1 {
      display: none;
  }
  .servico-invertida-1-mobile {
      display: block;
  }
  .box-2-imagem-invertida-1-mobile {
      border-radius: 45px 45px 45px 45px;
      box-shadow: 37px -3px 30px 2px rgb(0 0 0 / 50%);
      border-radius: 45px 45px 45px 45px;
      margin-top: 30px;
  }
  .imagem-invertida-1-mobile {
      background-color: transparent !important;
      border: transparent !important;
      text-align: center;
  }
  .imagem-invertida-1-mobile img {
      vertical-align: middle !important;
      padding: 20px !important;
  }
  .box-1-conteudo-invertida-1-mobile {
      box-shadow: -57px 0px 36px 18px rgb(0 0 0 / 50%);
      border-radius: 45px 0px 0px 45px;
  }
  .conteudo-invertida-1-mobile {
      background-color: transparent !important;
      border: transparent !important;
      text-align: center;
      margin: 40px !important;
  }
  .box-2-conteudo-invertida-1-mobile h2 {
      font-weight: bold;
      text-align: center;
      color: #000000;
      font-size: 32px;
      padding-bottom: 20px;
      margin-left: -40px;
      width: 140%;
  }
  .box-2-conteudo-invertida-1-mobile p {
      margin-left: -30px;
      width: 140%;
      color: black;
  }
}

@media (max-width: 575px) {
  .imagem-invertida-1-mobile img {
      width: 30vh;
  }
  .box-2-imagem-invertida-1-mobile {
      margin-left: -10px;
  }
}

/*---------------------DIVISOR 2----------------------*/

section.divisor-invertido-1 {
  background-image: url('../images/fundo-divisor2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #0C0C0B99;
  text-align: center;
}

.fim-onda-divisor-invertido-1 {
  transform: rotate(180deg);
}

section.divisor-invertido-1 .titulo-servico-invertido-1 {
  text-align: center;
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 4.3px;
  text-shadow: 0px 0px 10px #000000;
  padding: 18px;
}

section.divisor-invertido-1 .botao-invertido-1 {
  text-align: center;
}

section.divisor-invertido-1 .botao-invertido-1 button {
  letter-spacing: 0.6px;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: rgba(254, 170, 0, 0.35);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FFFFFF;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0px 0px 18px 11px rgb(0 0 0 / 50%);
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}

@media (max-width: 590px) {
  section.divisor-invertido-1 {
      margin-top: 60px;
      margin-bottom: 60px;
  }
}

/*-------------SERVIÇO 3------------*/

.linha-servico-3 {
  padding: 50px !important;
}

.box-1-imagem-3 {
  box-shadow: -57px 0px 36px 18px rgb(0 0 0 / 50%);
  border-radius: 45px 0px 0px 45px;
  margin: 60px;
}

.imagem-3 {
  background-color: transparent !important;
  border: transparent !important;
  text-align: center;
}

.imagem-3 img {
  padding: 10px !important;
  width: 410px;
  height: 400px;
  margin-top: 50px !important;
}

.box-2-conteudo-3 {
  border-radius: 45px 45px 45px 45px;
  box-shadow: 37px -3px 30px 2px rgb(0 0 0 / 50%);
  border-radius: 45px 45px 45px 45px;
}

.conteudo-3 {
  background-color: transparent !important;
  border: transparent !important;
  text-align: center;
  margin: 40px !important;
}

.conteudo-3 h2 {
  font-weight: bold;
  text-align: center;
  color: #000000;
  font-size: 32px;
  padding-bottom: 20px;
  margin-left: -80px;
}

.conteudo-3 p {
  margin-left: -90px;
  color: black;
}

.servico-3-mobile {
  display: none;
}

@media (max-width: 1194px) {
  .linha-servico-3 {
      margin-top: -100px;
  }
}

@media (max-width: 750px) {
  .box-1-imagem-3 {
      margin-left: -40px;
  }
  .box-2-conteudo-3 {
      width: 100%;
  }
}

/*----------------SERVICO 3 MOBILE--------------*/

@media (max-width: 590px) {
  .servico-3 {
      display: none;
  }
  .servico-3-mobile {
      display: block;
  }
  .box-1-imagem-3-mobile {
      box-shadow: -57px 0px 36px 18px rgb(0 0 0 / 50%);
      border-radius: 45px 0px 0px 45px;
      text-align: center;
  }
  .imagem-3-mobile {
      background-color: transparent !important;
      border: transparent !important;
  }
  .box-2-conteudo-3-mobile {
      border-radius: 45px 45px 45px 45px;
      box-shadow: 37px -3px 30px 2px rgb(0 0 0 / 50%);
      border-radius: 45px 45px 45px 45px;
      margin-top: 30px;
  }
  .conteudo-3-mobile {
      background-color: transparent !important;
      border: transparent !important;
      text-align: center;
  }
  .conteudo-3-mobile h2 {
      font-weight: bold;
      text-align: center;
      color: #000000;
      font-size: 3vh;
      padding-bottom: 20px;
  }
  .conteudo-3-mobile p {
      color: black;
  }
}

@media (max-width: 390px) {
  .imagem-3-mobile img {
      width: 30vh;
  }
}

/*---------------------DIVISOR 3----------------------*/

.divisor-3 {
  background-image: url('../images/fundo-divisor3.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 149, 255, 0.473);
  text-align: center;
}

.fim-onda-divisor-3 {
  transform: rotate(180deg);
}

section.divisor-3 .titulo-servico-3 {
  text-align: center;
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 4.3px;
  text-shadow: 0px 0px 12px #000000;
  padding: 18px;
}

section.divisor-3 .botao-3 {
  text-align: center;
}

section.divisor-3 .botao-3 button {
  letter-spacing: 0.6px;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: rgba(254, 170, 0, 0.35);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FFFFFF;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0px 0px 18px 11px rgb(0 0 0 / 50%);
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}

@media (max-width: 590px) {
  .divisor-3 {
      margin-top: 60px;
      margin-bottom: 60px;
  }
}

/*-------------SERVIÇO 4------------*/

.linha-servico-invertida-4 {
  padding: 50px !important;
}

.box-2-imagem-invertida-4 {
  border-radius: 45px 45px 45px 45px;
  box-shadow: 37px -3px 30px 2px rgb(0 0 0 / 50%);
  border-radius: 45px 45px 45px 45px;
  margin: 85px;
}

.imagem-invertida-4 {
  background-color: transparent !important;
  border: transparent !important;
  text-align: center;
}

.imagem-invertida-4 img {
  vertical-align: middle !important;
  padding: 20px !important;
}

.box-1-conteudo-invertida-4 {
  box-shadow: -57px 0px 36px 18px rgb(0 0 0 / 50%);
  border-radius: 45px 0px 0px 45px;
}

.conteudo-invertida-4 {
  background-color: transparent !important;
  border: transparent !important;
  text-align: center;
  margin: 40px !important;
}

.box-1-conteudo-invertida-4 h2 {
  font-weight: bold;
  text-align: center;
  color: #000000;
  font-size: 32px;
  padding-bottom: 20px;
  margin-left: -40px;
  width: 140%;
}

.box-1-conteudo-invertida-4 p {
  margin-left: -30px;
  width: 140%;
  color: black;
}

.servico-invertida-4-mobile {
  display: none;
}

@media (max-width: 750px) {
  .box-2-imagem-invertida-4 {
      margin-left: -25px;
  }
  .box-1-conteudo-invertida-4 {
      width: 100%;
  }
}

/*----------------SERVICO 4 MOBILE--------------*/

@media (max-width: 590px) {
  .servico-invertida-4 {
      display: none;
  }
  .servico-invertida-4-mobile {
      display: block;
  }
  .box-2-imagem-invertida-4-mobile {
      border-radius: 45px 45px 45px 45px;
      box-shadow: 37px -3px 30px 2px rgb(0 0 0 / 50%);
      border-radius: 45px 45px 45px 45px;
      margin-top: 30px;
  }
  .imagem-invertida-4-mobile {
      background-color: transparent !important;
      border: transparent !important;
      text-align: center;
  }
  .imagem-invertida-4-mobile img {
      vertical-align: middle !important;
      padding: 20px !important;
  }
  .box-1-conteudo-invertida-4-mobile {
      box-shadow: -57px 0px 36px 18px rgb(0 0 0 / 50%);
      border-radius: 45px 0px 0px 45px;
  }
  .conteudo-invertida-4-mobile {
      background-color: transparent !important;
      border: transparent !important;
      text-align: center;
      margin: 40px !important;
  }
  .box-1-conteudo-invertida-4-mobile h2 {
      font-weight: bold;
      text-align: center;
      color: #000000;
      font-size: 3vh;
      padding-bottom: 20px;
      width: 120%;
      margin-left: -20px
  }
  .box-1-conteudo-invertida-4-mobile p {
      margin-left: -40px;
      width: 140%;
      color: black;
  }
}

@media (max-width: 575px) {
  .imagem-invertida-4-mobile img {
      width: 30vh;
  }
  .box-2-imagem-invertida-4-mobile {
      margin-left: -10px;
  }
}

/*---------------------DIVISOR 4----------------------*/

section.divisor-invertido-2 {
  background-image: url('../images/fundo-divisor4.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #FF6700;
  text-align: center;
}

.fim-onda-divisor-invertido-2 {
  transform: rotate(180deg);
}

section.divisor-invertido-2 .titulo-servico-invertido-2 {
  text-align: center;
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 4.3px;
  text-shadow: 0px 0px 10px #000000;
  padding: 18px;
}

section.divisor-invertido-2 .botao-invertido-2 {
  text-align: center;
}

section.divisor-invertido-2 .botao-invertido-2 button {
  letter-spacing: 0.6px;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: rgba(254, 170, 0, 0.35);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FFFFFF;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0px 0px 18px 11px rgb(0 0 0 / 50%);
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}

@media (max-width: 590px) {
  section.divisor-invertido-2 {
      margin-top: 60px;
  }
}

/*-----------------------PAINEL APRESENTAÇÃO PESSOAL-----------------------*/

section.apresentacao-pessoal {
  position: relative;
  background-color: #0000008f;
  background-image: url('../images/background-home-site-web.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 80px;
}

.imagem-gabriel {
  text-align: center;
  margin-bottom: -30px;
}

.texto-apresentacao-titulo {
  background-color: transparent !important;
  border: transparent !important;
}

.texto-apresentacao-titulo h1 {
  text-align: center;
  background-color: #FEAA00 !important;
  border-radius: 200px 200px 200px 200px;
  box-shadow: 0px 0px 14px 4px #000000;
  color: #000000;
  font-size: 30px;
  line-height: 22px;
  font-weight: 900;
  padding: 17px;
  margin-inline: 400px;
}

.texto-apresentacao {
  text-align: center;
  background-color: transparent !important;
  border: transparent !important;
}

.texto-apresentacao p {
  background-color: #FEAA00 !important;
  border-radius: 35px 35px 35px 35px;
  box-shadow: 0px 0px 10px 7px rgb(0 0 0 / 50%);
  color: #000000;
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  padding: 18px;
  margin-inline: 200px;
}

@media (max-width: 1198px) {
  .texto-apresentacao-titulo h1 {
      margin-inline: 200px;
  }
  .texto-apresentacao p {
      margin-inline: 100px;
  }
}

@media (max-width: 768px) {
  .texto-apresentacao-titulo h1 {
      margin-inline: 100px;
  }
  .texto-apresentacao p {
      margin-inline: 50px;
  }
}

@media (max-width: 620px) {
  .imagem-gabriel img {
      width: 80%;
  }
}

@media (max-width: 450px) {
  .texto-apresentacao-titulo h1 {
      margin-inline: 50px;
  }
  .texto-apresentacao p {
      margin-inline: 20px;
  }
}

@media (max-width: 343px) {
  .texto-apresentacao-titulo h1 {
      margin-inline: 12px;
  }
  .texto-apresentacao p {
      margin-inline: -10px;
  }
}