/*-------------ABAIXO MENU---------------*/

header {
    z-index: 999;
    position: fixed;
    width: 100%;
    box-shadow: 0px 11px 10px 0px rgb(0 0 0 / 50%);
}

.menuTopo nav {
    background-color: black !important;
    padding: 12px;
}

.logoMarca {
    padding: 5px 10%;
}

.itensMenu a {
    color: white !important;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.5;
    padding: 15px !important;
    border-bottom: 4px !important;
}

.itensMenu a:hover {
    color: #FEAA00 !important;
    border-bottom: solid 2px #FEAA00 !important;
}

.menuDropdown {
    background-color: #efefef;
}

.menuDropdown a {
    color: black !important;
}

.menuDropdown a:hover {
    color: #FEAA00 !important;
    background-color: #fffffffa !important;
}

.ultimo-menuDropdown{
    margin-inline: -200px !important;
}

.ultimo-menuDropdown a{
    color: black !important;
}

.ultimo-menuDropdown a:hover{
    color: #FEAA00 !important;
    background-color: #fffffffa !important;
}

@media (max-width: 1130px) {
    .itensMenu {
        margin-left: -50px;
    }
    .logo-marca {
        margin-left: -50px;
    }
}

@media (max-width: 1000px) {
    .iconeMenuMobile {
        background-color: white;
    }
}

@media (max-width: 415px){
    .itensMenu{
        margin-inline: 38px !important;
    }
    .menuDropdown a {
        font-size: 13px !important;
    }
    .ultimo-menuDropdown a{
        font-size: 13px !important;
    }
}

@media (max-width: 380px) {
    .logo-marca {
        margin-left: 50px
    }
    .iconeMenuMobile {
        margin-left: 140px;
    }
    .itensMenu{
        margin-inline: 38px !important;
    }
    .menuDropdown a {
        font-size: 13px !important;
    }
    .ultimo-menuDropdown a{
        font-size: 13px !important;
    }
}

@media (max-width: 345px) {
    .logo-marca {
        margin-left: 50px;
    }
    .logo-marca img {
        width: 125px;
    }
    .iconeMenuMobile {
        margin-left: 120px;
        font-size: 15px !important;
    }
    .menuDropdown a {
        font-size: 13px !important;
    }
    .ultimo-menuDropdown a{
        font-size: 13px !important;
    }
}

@media (max-width: 320px){
    .iconeMenuMobile {
        margin-left: 110px;
        font-size: 15px !important;
    }
    .logo-marca {
        margin-left: 50px;
    }
    .itensMenu{
        margin-inline: -20px !important;
    }
    .menuDropdown a {
        font-size: 12px !important;
    }
    .ultimo-menuDropdown a{
        font-size: 12px !important;
    }
}

@media (max-width: 280px) {
    .iconeMenuMobile {
        margin-left: 80px;
        font-size: 15px !important;
    }
    .logo-marca {
        margin-left: 20px;
    }
    .menuDropdown a {
        font-size: 12px !important;
    }
    .ultimo-menuDropdown a{
        font-size: 12px !important;
    }
    .conteudo-central-mobile{
        margin-top: -240px !important;
    }
}